/* -------------------Header--------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-infor {
  width: 59.4%;
  display: flex;
  height: 100%;
}

.header-infor-connect {
  margin-left: 40%;
}

.navbar-head {
  height: 100%;
  width: 59.4%;
  display: flex;
}

.icon-menu {
  padding: 12px 20px 12px 20px;
  display: none;
}

.icon-search {
  padding: 12px 20px 12px 20px;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 21%;
}

#navbar {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.navbar-img {
  height: 100%;
  display: flex;
  align-items: center;
}

.navi {
  margin-left: 10px;
  margin-right: 10px;
}

/* --hover */
.navi:hover {
  color: #ffc600;
  transition: 0.7s;
}
.navwhite:hover {
  color: white;
  transition: 0.03s;
}
